@media screen and (max-width: 760px) {
    header{
        flex-direction: column;
    }

    #title{
        margin-left: 0;
    }

    main{
        flex-direction: column;
        text-align: center;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
    }

    img{
        display: none;
    }

    h1{
        text-align: center;
    }

    a{
        font-size: 14px;
        text-decoration: none;
    }

    #contato {
        display: block;
        text-align: center;
    }


}