@media screen and (max-width: 760px) {
    body {
        overflow-x: hidden;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    #logo {
        display: flex;
        flex-direction: row;
        width: 50px;
    }

    #title {
        margin-left: 0;
    }

    li {
        margin-left: -5px;
        font-size: 16px;
    }

    #contact {
        margin-left: -10px; /* Adicionado "px" ao valor */
        border: none;
    }

    main {
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
    }

    h2 {
        font-size: 38px;
    }

    #orcamento {
        margin: 0 auto;
        width: 100%;
        align-self: center;
    }

    input {
        align-self: center;
    }

    #main-image,
    #logo2 {
        display: none;
    }

    h1 {
        text-align: center;
    }

    a {
        font-size: 14px;
        text-decoration: none;
    }

    #contato {
        text-align: center; 
        margin-top: 50px;
        align-items: center;
        text-align: center; 
        max-width: 100%; 
        display: flex;
        flex-direction: column;
    }

    #localizacao{
        align-items: center;
        margin-left: 15px;
    }

    #contato_article{
        align-items: center; 
        margin-left: 130px;
        margin-top: 30px;
    }
}

